/* Base styles */
body.dark-mode * {
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
}

body.light-mode * {
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 100vw;
  min-height: 100%;
  margin: 0;
}

body {
  display: flex;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  position: relative;
  user-select: none;
}

/* Light mode */
body.light-mode {
  --gradient-color1: #a1d5f2;
  --gradient-color2: #ddffabb3;
  --gradient-color3: #d7d7d7;
  --gradient-color4: #a1d2f0;
  background: linear-gradient(-45deg, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: #111;
}

/* Dark mode */
body.dark-mode {
  --gradient-color1: #000000;
  --gradient-color2: #292929;
  --gradient-color3: #141414;
  --gradient-color4: #1b1919;
  background: linear-gradient(-45deg, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: #eee;
}

/* Links and buttons in dark mode */
body.dark-mode a {
  color: #eee;
}

/* Links and buttons in light mode */
body.light-mode a {
  color: #000000;
}

body.dark-mode button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body.light-mode button {
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
}

/* Gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Main layout */
.page {
  width: 98%; /* Set width to 90% of the screen */
  height: 98vh; /* Set height to 90% of the viewport height */
  max-width: 1200px; /* Limit width for larger screens */
  margin: auto; /* Center horizontally and vertically */
  border: rgba(255, 255, 255, 0.866) solid 2px;
}

.nameheader {
    vertical-align: top;
    height: auto  ;
    width: 100%;
    padding-left: 5vh;
    padding-top: 3vh;
}

.main-header {
    margin-bottom: 10px;
}

.sub-header {
    margin-top: -1vh;
    margin-left: 4vh;
    margin-bottom: 1vh;
}

.main-container {
  display: flex;
  width: auto;
}

.right-container{
  display: flex;
  justify-content: flex-end;
}

.main-container .left-container,
.main-container .right-container {
  width: 100%;
}

.center-text{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 26vh;
}


.image-button {
  width: 35px;
  height: 35px;
  margin: 20px; /* Adjusted margin */
  background-size: cover;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.image-button:hover {
  transform: scale(1.05);
}

.image-button:active {
  color: #ebfca9;
  transform: scale(1);
}

.bottom-center-text{
  display: flex;
  text-align: center;
  position:absolute;
  bottom:0;
  right:0;
  padding-right: 6vw;
  padding-bottom: 1vh;
}