*,
*::before,
*::after {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

html, body {
  height: 100dvh;
  width: 100dvw;
  min-height: 100dvh;
  min-width: 100dvw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
}

body.light-mode .page {
  border: #000000 solid 1px;
}

body.light-mode button[name="dark-light"],
body.dark-mode button[name="dark-light"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

body.light-mode button[name="dark-light"]:hover,
body.dark-mode button[name="dark-light"]:hover {
  transform: scale(1.2);
}

body {
  display: flex;
  position: absolute;
  margin: 0;
  animation: gradientAnimation 15s ease infinite;
  transition: background 0.3s ease, color 0.3s ease;
  user-select: none;
  background-size: 200% 200%;
  z-index: 10;
}

.bottom-left-text {
  padding: 0%;
  margin: 0%;
  position: absolute;
  left: 1vw;
  bottom: 1vh;
  z-index: 100;
  display: inline-block;
  white-space: nowrap;
  font-style: italic;
  font-size: clamp(1rem, 1.0vw, 1rem);
}

.bottom-right-text {
  padding: 0%;
  margin: 0%;
  position: absolute;
  right: 1vw;
  bottom: 1vh;
  z-index: 100;
  display: inline-block;
  white-space: nowrap;
  font-style: italic;
  font-size: clamp(0.8rem, 1.0vw, 0.8rem);
}

button.btn-primary {
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button.btn-primary:hover {
  transform: scale(1.05);
}

.center-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text p{
  font-size: clamp(1.0rem, 0.5vw, 1.0rem);
}

.info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 1rem;
  text-align: left;
}

.info-list li {
  margin-bottom: 1vw;
  max-width: 30vw;
  text-align: left;
}

.info-list li b {
  font-size: 1em;
  display: block;
  text-align: left;
}

.info-list li b::after {
  content: "";
  display: block;
}

.image-button {
  width: 50px;
  height: 50px;
  margin: 15px;
  padding: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image-button:hover {
  transform: scale(1.1);
}

.left-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 2vw;
}

.left-text p{
  font-size: clamp(1.0rem, 0.5vw, 1.0rem);

}

.light-mode .nav-links {
  border: #111 solid 1px;
}

.main-container {
  padding-top: 40vh;
}

.contact-list{
  position: absolute;
  text-decoration: none;
  padding: 0;
  margin: 0;
  padding: 2rem;
  text-align: right;
  top: -15vh;
}

.right-text {
  text-align: right;
  position: absolute;
  margin: auto;
  padding: 0%;
  right: 18rem;
  top: 60vh;
}

.right-text p{
  text-align: right;
  font-size: clamp(1.0rem, 0.5vw, 1.0rem);

}


.sub-header {
  font-weight: bold;
  font-style: italic;
}

.nameheader {
  position: absolute;
  left: 1vw;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.nav-links button {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-links button.dot {
  transform: scale(0.5);
  opacity: 0.7;
}

.page {
  flex: 1;
  width: 100%;
  max-width: 100%;
  border: #fcfcfc solid 1px;
  margin: 20px;
  position: relative;
  z-index: 10;
}

.top-nav {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  padding-left: 3rem;
  left: 1rem;
  justify-content: center;
}

.top-nav ul {
  display: flex;
  padding: 1vb;
}

.top-nav ul.nav-links button {
  font-size: clamp(2rem, 2vw, 4rem);
}

.top-nav ul.nav-links button.btn-primary {
  width: 80px;
  text-align: center;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-image: url('');
  background-size: cover;
  background-position: center;
  animation: backgroundMove 20s linear infinite;
}

#canvas-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}

#info-buttons-container {
  position: fixed;
  bottom: 6vh;
  right: 1vw;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

#info-buttons-container .image-button {
  width: 3vw;
  height: 3vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#info-buttons-container .image-button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  #info-buttons-container {
    bottom: 10vh;
    right: 1vw;
  }

  #info-buttons-container .image-button {
    width: 9vw;
    height: 8vh;
  }
}

@media (max-width: 480px) {
  #info-buttons-container {
    bottom: 10vh;
    right: 3vw;
  }

  #info-buttons-container .image-button {
    width: 5vw;
    height: 5vh;
  }
}

.projects-container {
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  background-color: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

*,
*::before,
*::after {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

body {
  position: relative;
  animation: gradientAnimation 15s ease infinite;
  transition: background 0.3s ease, color 0.3s ease;
  user-select: none;
  z-index: 10;
}

body.dark-mode {
  --gradient-color1: #252525;
  --gradient-color2: #101010;
  --gradient-color3: #090909;
  --gradient-color4: #000000;
  background: linear-gradient(-45deg, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
  background-size: 200% 200%;
  color: #eee;
}

body.light-mode {
  --gradient-color1: #fcfcfc;
  --gradient-color2: #f3f3f3fa;
  --gradient-color3: #fffdef;
  --gradient-color4: #ececec;
  background: linear-gradient(-45deg, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
  background-size: 200% 200%;
  color: #111;
}

body.dark-mode a,
body.light-mode a {
  font-style: italic;
  color: #111;

}

body.dark-mode a {
  color: #ffffff;
}


button.btn-primary,
button[name="dark-light"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button.btn-primary:hover,
button[name="dark-light"]:hover {
  transform: scale(1.05);
}

@keyframes backgroundMove {
  0% { background-position: 0% 0%; }
  50% { background-position: 50% 50%; }
  100% { background-position: 0% 0%; }
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
  }