.top-nav .hamburger {
  display: none;
}

body {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.6;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-header {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  position: relative;
  text-align: center;
}

.sub-header {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  top: -2vh;
  font-weight: normal;
  left: 1rem;
}

.top-nav ul.nav-links button {
  font-size: clamp(0.8rem, 1.5vw, 1.0rem);
}

.left-text, .center-text, .right-text {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .dark-mode .top-nav ul.nav-links,
  .light-mode .top-nav ul.nav-links {
      display: none;
      flex-direction: column;
      background-color: transparent;
      position: absolute;
      top: 13vh;
      right: 0;
      padding: 5vw;
      border-radius: 1px;
      z-index: 10;
      text-decoration: none;
  }

  .dark-mode .top-nav .hamburger,
  .light-mode .top-nav .hamburger {
      display: block;
      cursor: pointer;
      font-size: 20px;
      position: absolute;
      top: 1vh;
      right: 3rem;
  }

  .top-nav ul.nav-links.show {
      display: flex;
      top: 7vh;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .bottom-right-text {
      right: 5px;
      bottom: 5px;
  }

  .info-list li {
      max-width: 100%;
  }

  .main-container {
      padding-top: 60px;
  }

  .nameheader {
      top: 5px;
      left: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
      flex-direction: column;
  }

  header, nav, main, footer {
      text-align: center;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
      flex-direction: row;
      flex-wrap: wrap;
  }

  .container > div {
      flex: 1 1 50%;
      box-sizing: border-box;
  }

  header, nav, main, footer {
      padding: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
  }
}
