.top-nav .hamburger {
    display: none;
}

body {
    font-size: clamp(0.25rem, 0.5vw, 0.4rem);
    line-height: 1.6;
}

.main-header {
  font-size: clamp(1.4rem, 2.4vw, 2rem);
  position: relative;
}

.sub-header {
    font-size: clamp(1.0rem, 2vw, 1.0rem);
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    top: -1vh;
    font-weight: normal;
}

.top-nav ul.nav-links button {
    font-size: clamp(0.7rem, 1.2vw, 1rem);
}

.center-text p {
    font-size: clamp(0.675rem, 1.875vw, 0.9rem);
    line-height: 1.5;
}

@media screen and (max-width: 770px) {
    .dark-mode .top-nav ul.nav-links {
        display: none;
        flex-direction: column;
        background-color: transparent;
        position: absolute;
        top: 13vh;
        right: -1vb;
        padding: 5vw;
        border-radius: 1px;
        z-index: 10;
        text-decoration: none;
    }

    .light-mode .top-nav ul.nav-links {
        display: none;
        flex-direction: column;
        background-color: transparent;
        position: absolute;
        top: 13vh;
        right: -1vb;
        padding: 5vw;
        border-radius: 1px;
        z-index: 10;
        text-decoration: none;
    }

    .dark-mode .top-nav .hamburger {
        display: block;
        cursor: pointer;
        font-size: 20px;
        color: white;
        position: absolute;
        top: 1vh;
        right: 4vw;
    }

    .light-mode .top-nav .hamburger {
        display: block;
        cursor: pointer;
        font-size: 20px;
        color: black;
        position: absolute;
        top: 1vh;
        right: 4vw;
    }

    .top-nav ul.nav-links.show {
        display: flex;
    }
    
    .main-header {
        right: -3vw;
    }

    .sub-header {
        right: -5vw;
    }
}
